<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dathang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo">
                <a href="/"><img src="logo1.svg" alt="Logo"></a>
            </div>
            <div class="nav-links">
                <ul class="links">
                    <!-- DI ĐỘNG -->
                    <li>
                        <a href="/categories/1">DI ĐỘNG</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Hãng sản xuất</a>
                                <ul class="sub">
                                    <li><a href="apple.html">IPHONE</a></li>
                                    <li><a href="samsung.html">SAMSUNG</a></li>
                                    <li><a href="oppo.html">OPPO</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mức giá</a>
                                <ul class="sub">
                                    <li><a href="#">Dưới 10 triệu</a></li>
                                    <li><a href="#">Từ 10 - 20 triệu</a></li>
                                    <li><a href="#">Trên 20 triệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hình ảnh</a>
                                <ul class="sub">
                                    <li><a href="apple.html"><img src="apple.jpg" alt=""> A</a></li>
                                    <li><a href="samsung.html"><img src="samsung.jpg" alt=""> B</a></li>
                                    <li><a href="oppo.html"><img src="oppo.jpg" alt=""> C</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
        
                    <!-- MÁY TÍNH BẢNG -->
                    <li>
                        <a href="/categories/2">MÁY TÍNH BẢNG</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Hãng sản xuất</a>
                                <ul class="sub">
                                    <li><a href="apple.html">IPHONE</a></li>
                                    <li><a href="samsung.html">SAMSUNG</a></li>
                                    <li><a href="oppo.html">OPPO</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mức giá</a>
                                <ul class="sub">
                                    <li><a href="#">Dưới 10 triệu</a></li>
                                    <li><a href="#">Từ 10 - 20 triệu</a></li>
                                    <li><a href="#">Trên 20 triệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hình ảnh</a>
                                <ul class="sub">
                                    <li><a href="apple.html"><img src="apple.jpg" alt=""> A</a></li>
                                    <li><a href="samsung.html"><img src="samsung.jpg" alt=""> B</a></li>
                                    <li><a href="oppo.html"><img src="oppo.jpg" alt=""> C</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
        
                    <!-- PHỤ KIỆN -->
                    <li>
                        <a href="/categories/3">PHỤ KIỆN</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Nhẫn</a>
                                <ul class="sub">
                                    <li><a href="nhan.html">Nhẫn</a></li>
                                    <li><a href="dongho.html">Đồng hồ thông minh</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Đồng hồ thông minh</a>
                                <ul class="sub">
                                    <li><a href="nhan.html">Nhẫn</a></li>
                                    <li><a href="dongho.html">Đồng hồ thông minh</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Âm thanh</a>
                                <ul class="sub">
                                    <li><a href="nhan.html">Nhẫn</a></li>
                                    <li><a href="dongho.html">Đồng hồ thông minh</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
        
                    <!-- ƯU ĐÃI -->
                    <li>
                        <a href="uudai.html">ƯU ĐÃI</a>
                        <ul class="sub-menu1">
                            <li><a href="#">Mới</a></li>
                            <li><a href="#">Deal hot</a></li>
                            <li><a href="#">Độc quyền</a></li>
                        </ul>
                    </li>
        
                    <!-- HỖ TRỢ -->
                    <li>
                        <a href="hotro.html">HỖ TRỢ</a>
                        <ul class="sub-menu1">
                            <li><a href="#">Bảo hành và sửa chữa</a></li>
                            <li><a href="#">Hỗ trợ sản phẩm</a></li>
                        </ul>
                    </li>
        
                    <li><a href="cuahang.html">CỬA HÀNG</a></li>
                </ul>
            </div>
        
        
            
            <!-- Order and Account Section -->
            <div class="order-button">
                <a href="giohang.html"><a href="/cart"><label class="cart-icon"><i class="fas fa-shopping-cart"></i></label></a>
                <div class="taikhoan"> <label class="user-icon"><i class="fas fa-user"></i></label>
                    {% if session['email'] %}
                        <a href="taikhoan.html">{{ session['username'] }}</a>
                        <ul>
                            <li><a href="/lichsudonhang">Đơn hàng</a></li>
                            <li><a href="/logout">Đăng xuất</a></li>
                        </ul>
                    {% else %}
                        <a href="taikhoan.html"></a>
                        <ul>
                            <li><a href="#">Chào mừng bạn </a></li>
                            <li><a href="/dangnhap">Đăng nhập/Đăng kí</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="cart-title">
        <div class="container">
            <h1>Thanh toán</h1>
            <p>Hiện đang có {{ total_quantity }} sản phẩm trong danh sách thanh toán.</p>
        </div>
      </section>
      <div class="main-content-tt">
        <div class="first-content">
          <div class="first-content-1">
            <div class="head1">THÔNG TIN NHẬN HÀNG</div>
            <form action="/guidathang" method="POST" id="orderForm" onsubmit="return validateOrderForm()">
                <div class="row2">
                    <div class="input-group">
                        <label for="name">Họ và tên <span style="color:red">*</span></label>
                        <input type="text" id ="name" name ="name" value="" required>
                    </div>
                    <div class="input-group">
                        <label for="number">Số điện thoại <span style="color:red">*</span></label>
                        <input type="tel" id="number" name="number" value="" required inputmode="numeric">
                    </div>                    
                </div>
                <div class="row2">
                    <div class="input-group">
                        <label for="name">Tỉnh/Thành phố <span style="color:red">*</span></label>
                        <select id="dinoselect" name="dinoselect">
                            <option></option>
                            <option>Hà Nội</option>
                            <option>TP.Hồ Chí Minh</option>
                            <option>Bắc Ninh</option>
                            <option>Đà Nẵng</option>
                            <option>Lào Cai</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="name">Quận/Huyện <span style="color:red">*</span></label>
                        <select id="dinoselect2" name="dinoselect2">
                                <option> <label for="dinoselect2"> </label></option>
                                <option>Hai Bà Trưng</option>
                                <option>Đống Đa</option>
                                <option>Thanh Xuân</option>
                                <option>Long Biên</option>
                                <option>Nguyễn Trãi</option>
                        </select>
                    </div>
                </div>
                <div class="row2">
                    <div class="input-group">
                        <label for="name">Phường/Xã <span style="color:red">*</span></label>
                        <select id="dinoselect3" name="dinoselect3">
                            <option> <label for="dinoselect3"> </label></option>
                            <option>Hà Nội</option>
                            <option>TP.Hồ Chí Minh</option>
                            <option>Bắc Ninh</option>
                            <option>Đà Nẵng</option>
                            <option>Lào Cai</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="name">Tên đường, Số nhà <span style="color:red">*</span></label>
                         <input type="text" id ="address" name ="address" required>
                    </div>
                </div>
                <div class="row2">
                    <div class="input-group2">
                        <label for="message">Ghi chú đơn hàng </label>
                        <textarea name="message" id="message"></textarea>
                    </div>
                </div>
                <div class="row2">
                    <div class="input-group">
                        <label for="name">Phương thức thanh toán <span style="color:red">*</span></label>
                        <select id="dinoselect5" name="dinoselect5">
                                <option> <label for="dinoselect5"></label></option>
                                <option>Thanh toán khi nhận hàng</option>
                                <option>Thanh toán qua ngân hàng</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="a">ĐẶT HÀNG</button>
            </form>
          </div>
        </div>
        <div class="second-content">
          <div class="second-content-1">
            <div class="head2">CHI TIẾT ĐƠN HÀNG</div>
            <div class="se-content-1">
            {% for cart_item in cart_items %}
            <div class="se-content1">
                <div class="product-info">
                    <div class="info1"><td>{{ cart_item.name }}</td><br>
                    <div class="feature">{{ cart_item['color'] }}, {{ cart_item['storage'] }}</div></div>
                    <div class="info2">{{ cart_item.quantity }}</div>
                    <div class="info3">{{ cart_item.price }}00₫</div>
                </div>
            <div class="daugachngang"></div>
            </div>
            {% endfor %}
        </div>
    
          </div>
    
        <div class="second-content-1">
            <div class="head2">CHI TIẾT THANH TOÁN</div>
            <div class="se-content-1">
                <div class="se-content1">
                    <div class="product-info">
                        <div class="info1">Tổng tiền hàng</div>
                        <div class="info2">{{ total_price }}00₫</div>
                    </div>
                    <div class="daugachngang"></div>
                </div>
    
                <div class="se-content1">
                    <div class="product-info">
                        <div class="info1">Phí vận chuyển</div>
                        <div class="info2">Miễn phí</div>
                    </div>
                    <div class="daugachngang"></div>
                </div>
    
                <div class="se-content1">
                    <div class="product-info">
                        <div class="info1">Tổng tiền thanh toán</div>
                        <div class="info2"><span style="color:red; font-weight: 600;">{{ total_price }}00₫</span></div>
                    </div>
                </div>
            </div>
        </div>
    
        </div>
      </div>   
</body>
</html>