<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/sanpham.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

    <script src="trangchu.js"></script>
    <title>Sản Phẩm</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo">
                <a href="/"><img src="logo1.svg" alt="Logo"></a>
            </div>
            <div class="nav-links">
                <ul class="links">
                    <!-- DI ĐỘNG -->
                    <li>
                        <a href="/categories/1">DI ĐỘNG</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Hãng sản xuất</a>
                                <ul class="sub">
                                    <li><a href="apple.html">IPHONE</a></li>
                                    <li><a href="samsung.html">SAMSUNG</a></li>
                                    <li><a href="oppo.html">OPPO</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mức giá</a>
                                <ul class="sub">
                                    <li><a href="#">Dưới 10 triệu</a></li>
                                    <li><a href="#">Từ 10 - 20 triệu</a></li>
                                    <li><a href="#">Trên 20 triệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hình ảnh</a>
                                <ul class="sub">
                                    <li><a href="apple.html"><img src="apple.jpg" alt=""> A</a></li>
                                    <li><a href="samsung.html"><img src="samsung.jpg" alt=""> B</a></li>
                                    <li><a href="oppo.html"><img src="oppo.jpg" alt=""> C</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
        
                    <!-- MÁY TÍNH BẢNG -->
                    <li>
                        <a href="/categories/2">MÁY TÍNH BẢNG</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Hãng sản xuất</a>
                                <ul class="sub">
                                    <li><a href="apple.html">IPHONE</a></li>
                                    <li><a href="samsung.html">SAMSUNG</a></li>
                                    <li><a href="oppo.html">OPPO</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mức giá</a>
                                <ul class="sub">
                                    <li><a href="#">Dưới 10 triệu</a></li>
                                    <li><a href="#">Từ 10 - 20 triệu</a></li>
                                    <li><a href="#">Trên 20 triệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Hình ảnh</a>
                                <ul class="sub">
                                    <li><a href="apple.html"><img src="apple.jpg" alt=""> A</a></li>
                                    <li><a href="samsung.html"><img src="samsung.jpg" alt=""> B</a></li>
                                    <li><a href="oppo.html"><img src="oppo.jpg" alt=""> C</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
        
                    <!-- PHỤ KIỆN -->
                    <li>
                        <a href="/categories/3">PHỤ KIỆN</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Nhẫn</a>
                                <ul class="sub">
                                    <li><a href="nhan.html">Nhẫn</a></li>
                                    <li><a href="dongho.html">Đồng hồ thông minh</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Đồng hồ thông minh</a>
                                <ul class="sub">
                                    <li><a href="nhan.html">Nhẫn</a></li>
                                    <li><a href="dongho.html">Đồng hồ thông minh</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Âm thanh</a>
                                <ul class="sub">
                                    <li><a href="nhan.html">Nhẫn</a></li>
                                    <li><a href="dongho.html">Đồng hồ thông minh</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
        
                    <!-- ƯU ĐÃI -->
                    <li>
                        <a href="uudai.html">ƯU ĐÃI</a>
                        <ul class="sub-menu1">
                            <li><a href="#">Mới</a></li>
                            <li><a href="#">Deal hot</a></li>
                            <li><a href="#">Độc quyền</a></li>
                        </ul>
                    </li>
        
                    <!-- HỖ TRỢ -->
                    <li>
                        <a href="hotro.html">HỖ TRỢ</a>
                        <ul class="sub-menu1">
                            <li><a href="#">Bảo hành và sửa chữa</a></li>
                            <li><a href="#">Hỗ trợ sản phẩm</a></li>
                        </ul>
                    </li>
        
                    <li><a href="cuahang.html">CỬA HÀNG</a></li>
                </ul>
            </div>
        
        
            
            <!-- Order and Account Section -->
            <div class="order-button">
                <a href="giohang.html"><a href="/cart"><label class="cart-icon"><i class="fas fa-shopping-cart"></i></label></a>
                <div class="taikhoan"> <label class="user-icon"><i class="fas fa-user"></i></label>
                    {% if session['email'] %}
                        <a href="taikhoan.html">{{ session['username'] }}</a>
                        <ul>
                            <li><a href="/lichsudonhang">Đơn hàng</a></li>
                            <li><a href="/logout">Đăng xuất</a></li>
                        </ul>
                    {% else %}
                        <a href="taikhoan.html"></a>
                        <ul>
                            <li><a href="#">Chào mừng bạn </a></li>
                            <li><a href="/dangnhap">Đăng nhập/Đăng kí</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="image">
            <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2024/11/13/banner-samsung-s24-ultra-1200x375.png" alt="">
        </div>
    </div>
    
    
    <h1 style="text-align: center;">FLASH SALE</h1>
    <div class="goiydanhchoban">
        {% for product in goiy_di_dong %}
        <div class="sanphamchoban" id="product_{{ product.product_id }}">
            <div class="image-frame">
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
            </div>
            <div class="nd">
                <p>{{ product.name }}</p>
                <p>Giá: {{ product.price }} VND</p> 
                <a href="/product/{{ product.product_id }}" class="btnt">Mua ngay</a> 
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="hangdienthoai">
        {% for brand in brands %}
        <div class="hang">
            <div class="h">{{ brand.name }}</div>
        </div>
        {% endfor %}
    </div>
    
    <div class="ttsp">
        <div class="sapxepdoc">
            <div class="mucgia">
                <div class="thanhkeo">
                    <input type="range" id="rangeMin" name="rangeMin" min="0" max="1000" value="200" step="10" oninput="updatePriceRange()">
                    <input type="range" id="rangeMax" name="rangeMax" min="0" max="1000" value="800" step="10" oninput="updatePriceRange()">
                    <br>Khoảng giá: <span id="minOutput">200</span> - <span id="maxOutput">800</span> VND</br>
                </div>                             
                <div class="bangchon">
                    <button id="duoi1trieu">Dưới 1 triệu</button>
                    <button id="tu1den3trieu">1-3 triệu</button>
                    <button id="tu3den5trieu">3-5 triệu</button>
                    <button id="tren5trieu">Trên 5 triệu</button>
                </div>            
            </div>
            <div class="bonhotrong">
                <p>Bộ nhớ trong</p>
                <label><input type="radio" name="storage" value="32GB"> 32 GB</label><br>
                <label><input type="radio" name="storage" value="64GB"> 64 GB</label><br>
                <label><input type="radio" name="storage" value="128GB"> 128 GB</label><br>
                <label><input type="radio" name="storage" value="256GB"> 256 GB</label><br>
                <label><input type="radio" name="storage" value="1TB"> 1 TB</label><br>
            </div>
            <div class="dungluongpin">
                <p>Dung lượng pin</p>
                <label><input type="radio" name="battery" value="3000mAh"> 3000 mAh</label><br>
                <label><input type="radio" name="battery" value="4000mAh"> 4000 mAh</label><br>
                <label><input type="radio" name="battery" value="5000mAh"> 5000 mAh</label><br>
                <label><input type="radio" name="battery" value="6000mAh"> 6000 mAh</label><br>
                <label><input type="radio" name="battery" value="7000mAh"> 7000 mAh</label><br>
            </div>
            <div class="refresh-rate">
                <p>Tần số làm mới</p>
                <label><input type="radio" name="refreshRate" value="60Hz"> 60 Hz</label><br>
                <label><input type="radio" name="refreshRate" value="75Hz"> 75 Hz</label><br>
                <label><input type="radio" name="refreshRate" value="120Hz"> 120 Hz</label><br>
                <label><input type="radio" name="refreshRate" value="144Hz"> 144 Hz</label><br>
                <label><input type="radio" name="refreshRate" value="240Hz"> 240 Hz</label><br>
            </div>
            <div class="kichthuocmanhinh">
                <p>Kích thước màn hình</p>
                <label><input type="radio" name="screenSize" value="5inch"> 5 inch</label><br>
                <label><input type="radio" name="screenSize" value="6inch"> 6 inch</label><br>
                <label><input type="radio" name="screenSize" value="6.5inch"> 6.5 inch</label><br>
                <label><input type="radio" name="screenSize" value="7inch"> 7 inch</label><br>
                <label><input type="radio" name="screenSize" value="7.5inch"> 7.5 inch</label><br>
            </div>
        </div>      
        <div class="bp">
            <div class="sapxepngang">
                <p>Sắp xếp theo</p>
                <div class="sxmoinhat">Mới nhất</div>
                <div class="sxbanchay">Bán chạy</div>
                <div class="sxyeuthich">Yêu thích nhất</div>
                <select id="sort-price" name="sort-price">
                    <option value="asc">Giá tăng dần</option>
                    <option value="desc">Giá giảm dần</option>
                </select>
            </div>
            <div class="sanpham">
                {% for product in products %} <!-- Duyệt qua danh sách sản phẩm -->
                <div class="sanpham-menu-1">
                    <a href="/product/{{ product.product_id }}">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}"></a>
                    {% if product_purchase_status[product.product_id] %}
                        <span class="tag-purchased">Đã mua</span>  <!-- Thêm tag đã mua -->
                    {% endif %}
                    <div class="nd">
                        <p>{{ product.name }}</p>
                        
                        <!-- Hiển thị số lượng đánh giá và điểm trung bình với sao -->
                        <div class="rating">
                            <div class="star-rating">
                                {% for i in range(5) %}
                                    <i class="fas fa-star {% if i < product.get('average_rating', 0) | int %}active{% endif %}"></i>
                                {% endfor %}
                            </div>
                            <span class="review-count">({{ product.review_count }} đánh giá)</span> <!-- Số lượng đánh giá -->
                        </div>
            
                        <div class="tp">Màu sắc
                            {% for color in product.colors %}
                            <input type="radio" name="color_{{ product.product_id }}" id="color_{{ product.product_id }}_{{ loop.index }}" value="{{ color }}">
                            <label for="color_{{ product.product_id }}_{{ loop.index }}" class="color-option" style="background-color: {{ color }};"></label>
                            {% endfor %}
                        </div>
            
                        <div class="tp">Dung lượng
                            <div class="storage-options">
                                {% for storage, price in zip(product.storage_options, product.price_options) %}
                                <button type="button" class="storage-btn" onclick="updatePrice({{ product.product_id }}, {{ price }})">
                                    {{ storage }}
                                </button>
                                {% endfor %}
                            </div>
                        </div>
            
                        <div class="tp">Giá: 
                            <span id="price_{{ product.product_id }}">{{ product.price_options[0] }} VND</span> <!-- Giá mặc định ban đầu -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
                
        
        
        
  
<script>    
    function updatePriceRange() {
        const minRange = document.getElementById("rangeMin");
        const maxRange = document.getElementById("rangeMax");
        const minOutput = document.getElementById("minOutput");
        const maxOutput = document.getElementById("maxOutput");
        
        // Đảm bảo giá trị của min không lớn hơn max và ngược lại
        if (parseInt(minRange.value) >= parseInt(maxRange.value)) {
            minRange.value = parseInt(maxRange.value) - 10; // Cách nhau ít nhất 10 đơn vị
        }
        
        if (parseInt(maxRange.value) <= parseInt(minRange.value)) {
            maxRange.value = parseInt(minRange.value) + 10;
        }
    
        // Cập nhật giá trị hiển thị
        minOutput.textContent = minRange.value;
        maxOutput.textContent = maxRange.value;
    }
    function updatePrice(productId, price) {
            // Tìm phần tử có id là price_productId và cập nhật giá trị bên trong
            var priceElement = document.getElementById("price_" + productId);
            priceElement.innerText = price + " VND";
        }
</script>
<style>
.sanpham-menu-1 {
    position: relative;
    display: inline-block;
}

.tag-purchased {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5050; /* Màu nền nổi bật */
    color: white; /* Màu chữ */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10; /* Đảm bảo tag hiển thị trên hình ảnh */
}</style>
</body>
</html>