<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Dropdown Menu , Login Option and Search Bar</title>
  <link rel="stylesheet" href="thu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

  <div class="cover">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="#">Logo</a></div>
        <ul class="links">
          <li><a href="#">DI ĐỘNG</a></li>
          <li><a href="#">MÁY TÍNH BẢNG</a></li>
          <li><a href="#">PHỤ KIỆN</a></li>
          <li><a href="#">ƯU ĐÃI</a></li>
          <li><a href="#">HỖ TRỢ</a></li>
          <li><a href="#">CỬA HÀNG</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <label class="cart-icon"><i class="fas fa-shopping-cart"></i></label>
      <label class="user-icon">
        <i class="fas fa-user"></i>
        <input type="checkbox" id="show-user-menu">
        <label for="show-user-menu" class="user-menu-label"></label>
        <ul class="user-menu">
          <li><a href="#">Đăng nhập/Đăng ký</a></li>
          <li><a href="#">Đơn hàng</a></li>
          <li><a href="#">Thông tin tài khoản</a></li>
          <li><a href="#">Đăng xuất</a></li>
        </ul>
      </label>
      

    </nav>
  </div>
  <img src="\image\image 2.png" alt="">
</body>
</html>